@import './styles.css';

.selected-gallery {

    columns: 2;
    gap: 1rem;
    max-width: 76rem;
    margin-top: 1rem;
}

.selected-item img {
   
    width: 100%;
    height: auto;
    object-fit: contain;
}

.selected-item {
    margin-bottom: 0.85rem;
}

.yes img {
    width: 35rem;
    padding: 0;
}


@media screen and (max-width:768px) {

    .selected-gallery {
        columns: 1;
    }  

}

