@import './styles.css';

/* Portfolio: Residential projects */

.selected-gallery {

    columns: 2;
    gap: 1rem;
    max-width: 76rem;
    margin-top: 1rem;
}

.selected-item img {
   
    width: 100%;
    height: auto;
    object-fit: contain;
}

.selected-item {
    margin-bottom: 0.85rem;
}



@media screen and (max-width:768px) {

    .selected-gallery {
        columns: 1;
    }  

}

.one-column {
    columns: 1;
}



/* Portfolio: Prototypical projects */

.prototypical-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.selected-gallery-container {
    padding: 0 1.8rem 2rem 1.8rem;
}

.about-section-project {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align-last: center;
    gap: 2rem;
    background: var(--color-dark-background);
    padding: 2rem 3rem 2rem 3rem;
    margin-top: 1rem;
    width: 100%;
}

.about-section-project p {
    max-width: 50rem;
    font-size: 1.2rem;

}

.about-section-project .about-section-project-header {
    font-size: 1.3rem;

}

.about-section-project .about-section-project-text {
    opacity: 80%;
    font-weight: 300;

}

.prototypical-header {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prototypical-container-dark {
    background: var(--color-dark-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#evergreen-header {
    margin-top: 6.5vh;
}