@import './styles.css';

.selected-gallery {

    columns: 2;
    column-gap: 1rem;
    row-gap: 1rem;
    max-width: 76rem;
}

.selected-item img {
   
    width: 100%;
    object-fit: cover;
}

.selected-item {
    border: 2px red solid;
}


@media screen and (max-width:768px) {

    .selected-gallery {
        columns: 1;
    }  

}

